<br>
<h1 class="text-center">Listing Articles</h1>

<div class="container">
<%= link_to 'New article', new_article_path, class: 'btn btn-primary text-center' %>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= link_to 'Show', article_path(article),class: 'btn btn-info'%>
            <%= link_to 'Edit', edit_article_path(article),class: 'btn btn-primary'%>
            <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger'%></td>

        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>